.fa-heart:hover {
    color: red;
}

.fa-coffee:hover {
    color: blue;
}

.nav-link: hover{
    color: blue;
}

.navbar-default {
  background-color: #281c9c;
  background-image: none;
  background-repeat: no-repeat;
 }
